<!DOCTYPE html>
<%-include("partials/header")-%>
  <body>
    <h1>Contact</h1>
    <p><%=CONTACTCONTENT%></p>
    <div class="hmu">
        <a class="btn btn-default  btn-sm h" type="button" onclick="location.href='mailto:daminipandeyminnie@gmail.com';"  name="button" >Hit Me Up!</a> 
    </div>

<%-include("partials/footer")-%>
